---
layout: default
navbar: Blog
---


<div class="jumbotron">
  <div class="pull-right requisits">
    {% include requisits.html %}
  </div>

  <h1>Андрей Скутин</h1>
  <p>волонтер</p>
</div>
<div class="row">
  <div class="page-content col-md-6">
  <div class="bio">
    <h3 class="text-center">~ Моя деятельность ~</h3>
    {% include bio.html %}

  </div>

        <div class="blog-index" itemscope itemtype="http://schema.org/Blog">
        <h3 class="text-center">~ Проекты ~</h3>
    <meta itemprop="name" content="{{site.title}}" />
    {% if site.description %}<meta itemprop="description" content="{{site.description}}" />{% endif %}
    <meta itemprop="url" content="{{site.url}}" />
      {% assign index = true %}
      {% for post in paginator.posts %}
      {% assign content = post.content %}
        <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          {% include article.html %}
        </article>
      {% endfor %}
    </div>

    <ul class="pager">
      {% if paginator.next_page %}
        <li class="previous"><a href="{{paginator.next_page_path}}">&larr;&nbsp;Ранее</a></li>
      {% else %}
        <li class="previous disabled"><a href="#">&larr;&nbsp;Ранее</a></li>
      {% endif %}
      <li><a href="/blog/archives">Архив</a></li>
      {% if paginator.previous_page %}
        <li class="next"><a href="{{paginator.previous_page_path}}">Новые&nbsp;&rarr;</a></li>
      {% else %}
        <li class="next disabled"><a href="#">Новые&nbsp;&rarr;</a></li>
      {% endif %}
    </ul>

  </div>
  <div class="page-content col-md-6">
  {% include gallery.html %}
  </div>

</div>
<div class="row">
  
</div>